{% extends 'base/head.html' %}
{% block Osvell %}
  <div class="main-content">
        <section class="section">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header">
                  <h4>Ultimos Estudiantes Registrados</h4>
                  <div class="card-header-action">
                    <a href="{% url 'lista_estudiantes' %}" class="btn btn-danger">Ver Mas <i class="fas fa-chevron-right"></i></a>
                  </div>
                </div>
                <div class="card-body p-0">
                  <div class="table-responsive table-invoice">
                    <table class="table table-striped mb-0">
                      <thead>
                        <tr>
                          <th>Estudiante</th>
                          <th>Fecha Adicion</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% if Zenin %}
                        {% for c in Zenin %}
                        <tr>
                          <td>
                            <a href="{% url 'verEstudiante' c.id %}" class="font-weight-600"><img src="{{c.foto_perfil.url}}" alt="{{c.nombre}}" width="30" class="rounded-circle mr-1"> {{c.nombre}} {{c.apellido}}</a>
                          </td>
                          <td>
                            {{c.fecha_creacion}}
                          </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                          <td colspan="3" style="text-align: center;">No hay registros</td>
                        </tr>
                        {% endif %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-hero">
                <div class="card-header">
                  <div class="card-icon">
                    <i class="far fa-question-circle"></i>
                  </div>
                  <h4>14</h4>
                  <div class="card-description">Procesos por aprobar</div>
                </div>
                <div class="card-body p-0">
                  <div class="tickets-list">
                    <a href="#" class="ticket-item">
                      <div class="ticket-title">
                        <h4>My order hasn't arrived yet</h4>
                      </div>
                      <div class="ticket-info">
                        <div>Laila Tazkiah</div>
                        <div class="bullet"></div>
                        <div class="text-primary">1 min ago</div>
                      </div>
                    </a>
                    <a href="features-tickets.html" class="ticket-item ticket-more">
                      Ver todos <i class="fas fa-chevron-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
  </div>
{% endblock %}